<link rel="stylesheet" href="/styles/index.css" media="screen" title="no title" charset="utf-8">

<div id="home">
  <div class="container" id="index-container">
    <div class="row">
      <div class="card text-center" id="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Report</h5>
          <p class="card-text">Report a local issue observed to the database.</p>
          <a href="/report" class="btn btn-primary card-btn">Submit Report</a>
        </div>
      </div>
      <div class="card text-center" id="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Search</h5>
          <p class="card-text">Search for local environmental issues and for articles on environmental topics of
            concern.</p>
          <a href="/search" class="btn btn-primary">Search</a>
        </div>
      </div>
      <div class="card text-center" id="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Links</h5>
          <p class="card-text">Browse links to websites about relevant environmental topics.</p>
          <a href="/others" class="btn btn-primary">More</a>
        </div>
      </div>

      <!--starter 
      <div class="col-8 offset-2">
        <h3 id="tagline">{{msg}}</h3>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="search-location-text">Search for a Local Environmental Issue</label>
            <input type="text" id="search-location" class="form-control" aria-describedby="search-text" placeholder="Enter Zip Code">
          </div>
          <div class="form-group">
            <label for="search-article">Report On Environmental Issue</label>
            <textarea class="form-control" id="search-info" aria-describedby="search-article" placeholder="Enter Zip Code"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Reported Articles:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>-->
    </div>
  </div>
  <div class="container">
    <div class="card">
      <h3>Most recent reports:</h3>
      <div class="row">
        <div>
          {{#each report}}
          <ul>
            <p>Location: {{this.address}}, {{this.city}}, {{this.state}},{{this.zipcode}}. Description: {{this.violation_description}}</p>
          </ul>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script>  
  $("#home").addClass("active");
</script>